/* Estilos del modal */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ca2e29;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.upload-label:hover {
    background-color: #97221E;
}
.modal-contentmodal2{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
}
.closed {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closed:hover,
.closed:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
#guardarButton {
    background-color: #ca2e29;
    border: 1px solid #ca2e29;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #guardarButton:hover {
    background-color: #97221E;
    color: #fff;
  }
