body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */


.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  /*background-color: #97221E;
  color: white;*/
}

h1{
  font-size: 240%;
  text-align: center;
}

.table-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table .chica{
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
  border-radius: 5px;
  overflow: scroll;
}

.chica th:nth-child(1) {
  background-color: #ca2e29;
  color: #fff;
  font-size: 15px;
  cursor:unset;
  text-align: center;
  width: 10%;
}

.chica th:nth-child(2) {
  background-color: #ca2e29;
  color: #fff;
  font-size: 15px;
  cursor:unset;
  padding: 5px;
  text-align: center;
  width: 10%;
}

.chica th:nth-child(3) {
  background-color: #ca2e29;
  color: #fff;
  font-size: 15px;
  cursor:unset;
  padding: 5px;
  text-align: center;
  width: 80%;
}

.chica tr {
  background-color: #f5f2e7;
  font-size: 15px;
  text-align:right;
}

.search-container-chico {
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.search-container-chico input[type=text] {
  padding: 5px;
  border: none;
  margin-right: 20px;
  margin-bottom: 5px;;
  font-size: 15px;
}