body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  .login-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #ca2e29;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #96221e;
}